.admin-main__item {
    flex-basis: 48%;
    margin-bottom: 1%;
}

.admin-main__info-div {
    display: flex;
    flex-direction: column;
}

.admin-main__h2 {
    font-size: .8rem;
}

.admin-main__h5 {
    font-size: .5rem;
}

.admin-main__content {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.admin-main__i-student-wrapper {
    align-self: flex-end;
    margin-top: 3%;
    width: 40%;
    display: flex;
    justify-content: space-around;
    font-size: .8rem;
}

.admin-main__student-i {
    color: var(--main-color);
    cursor: pointer;
}

.admin-main__populated-data-div {
    display: flex;
    justify-content: space-between;
}

/* .admin-main__student-i:nth-child(2) {
    color: var(--green-color);
}

.admin-main__student-i:last-child {
    color: red;
} */

@media(orientation: landscape) {
    .admin-main__item {
        flex-basis: 32%;
    }
    .admin-main__h2 {
        font-size: .75rem;
    }
    .admin-main__h5 {
        font-size: .6rem;
    }
}

@media(min-width: 1024px) {
    .admin-main__item {
        flex-basis: 25%;
    }
    .admin-main__h2 {
        font-size: 1.1rem;
    }
    .admin-main__h5 {
        font-size: .75rem;
    }
    .admin-main__i-student-wrapper {
        width: 20%;
        font-size: 1rem;
        /* background-color: red; */
    }
    .admin-main__student-i {
        transform: translateX(150px);
    }
    .admin-main__item:hover .admin-main__student-i {
        transform: translateX(0);
        transition: .5s;
    }
    .admin-main__item:hover .admin-main__student-i:nth-child(2) {
        transition-delay: .1s;
    }
    .admin-main__student-i:first-child:hover {
        color: orange;
    }
    .admin-main__student-i:nth-child(2):hover {
        color: var(--green-color);
    }
    .admin-main__student-i:last-child:hover {
        color: red;
    }
}