.navigation__li {
    display: block;
    list-style: none;
}

.navigation__link {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
    font-family: 'Roboto Mono', monospace;
    display: block;
    margin: 0;
    color: var(--main-color);
    overflow: hidden;
    padding-top: 7px;
    cursor: pointer;
}

.navigation__link.active {
    /* font-weight: bold; */
    font-size: 18px;
    color: var(--green-color);
    text-shadow: 1px 1px 0px var(--main-color);
}

.navigation__link::after {
    position: absolute;
    top: 0%;
    left: -112%;
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    -webkit-transition: .2s linear;
    transition: .2s linear;
}

.navigation__link.active::after {
    background-color: var(--green-color);
}

.navigation__li:hover .navigation__link::after {
    left: 0;
}