.admin-main__data-section {
    margin-top: 2%;
}

.admin-main__general-info {
    background-color: var(--main-color);
    color: #fff;
    font-size: 1.1rem;
    padding: 3%;
    font-family: var(--main-font);
    width: 100%;
}

@media (min-width: 1024px) {
    .admin-main__general-info {
        font-size: 2rem;
    }
}