.add-data-modal__select {
    width: 50%;
    color: var(--main-color);
    font-family: var(--main-font);
}

.input--invalid {
    border: 2px solid red !important;
}

.error-text {
    font-size: .7rem;
    color: #A10606;
    font-weight: bold;
    font-family: var(--main-font);
}